@import 'tailwindcss' important;
@theme {
  --breakpoint-sm: 600px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1264px;
  --breakpoint-xl: 1904px;
  --color-black: #000000;
  --color-white: #ffffff;

  /* Grey scale */
  --color-grey-95: #f8f8f8;
  --color-grey-90: #f4f4f4;
  --color-grey-85: #e8e8e8;
  --color-grey-80: #dbdbdb;
  --color-grey-75: #c9c9c9;
  --color-grey-70: #bbbbbb;
  --color-grey-65: #adadad;
  --color-grey-60: #9f9f9f;
  --color-grey-55: #919191;
  --color-grey-50: #848484;
  --color-grey-45: #767676;
  --color-grey-40: #696969;
  --color-grey-35: #5c5c5c;
  --color-grey-30: #4f4f4f;
  --color-grey-25: #424242;
  --color-grey-20: #333333;
  --color-grey-15: #262626;
  --color-grey-10: #1a1a1a;
  --color-grey-5: #0d0d0d;

  /* Blue scale */
  --color-blue-88: #2ef0f0;
  --color-blue-58: #1fa3a3;
  --color-blue-95: #e6f5ff;
  --color-blue-90: #cce8ff;
  --color-blue-85: #b4ddfe;
  --color-blue-80: #9ad2fe;
  --color-blue-75: #80c6ff;
  --color-blue-70: #66bbfd;
  --color-blue-65: #4eaffd;
  --color-blue-60: #33a4fd;
  --color-blue-55: #1998fc;
  --color-blue-50: #008dfc;
  --color-blue-45: #0078d6;
  --color-blue-40: #036dc1;
  --color-blue-35: #0260ab;
  --color-blue-30: #025497;
  --color-blue-25: #014880;
  --color-blue-20: #013c6b;
  --color-blue-15: #003156;
  --color-blue-10: #002441;
  --color-blue-5: #00182c;

  /* Red scale */
  --color-red-95: #ffeded;
  --color-red-90: #ffdbdb;
  --color-red-85: #ffc9c9;
  --color-red-80: #ffb7b7;
  --color-red-75: #ffa5a5;
  --color-red-70: #ff9292;
  --color-red-65: #ff8080;
  --color-red-60: #ff6e6e;
  --color-red-55: #ff5c5c;
  --color-red-50: #ff4a4a;
  --color-red-45: #d92121;
  --color-red-40: #c31e1e;
  --color-red-35: #ae1a1a;
  --color-red-30: #981717;
  --color-red-25: #821414;
  --color-red-20: #6d1111;
  --color-red-15: #570d0d;
  --color-red-10: #410a0a;
  --color-red-5: #2b0707;

  /* Green scale */
  --color-green-95: #e9f6ea;
  --color-green-90: #d3edd6;
  --color-green-85: #bce3c1;
  --color-green-80: #a6daac;
  --color-green-75: #90d198;
  --color-green-70: #7ac883;
  --color-green-65: #64bf6e;
  --color-green-60: #4db559;
  --color-green-55: #37ac45;
  --color-green-50: #21a330;
  --color-green-45: #198025;
  --color-green-40: #177321;
  --color-green-35: #14661e;
  --color-green-30: #125a1a;
  --color-green-25: #0f4d16;
  --color-green-20: #0d4013;
  --color-green-15: #0a330f;
  --color-green-10: #07260b;
  --color-green-5: #051a07;

  /* Yellow scale */
  --color-yellow-95: #fffae6;
  --color-yellow-90: #fef5cc;
  --color-yellow-85: #fef0b3;
  --color-yellow-80: #fdeb99;
  --color-yellow-75: #fde680;
  --color-yellow-70: #fce066;
  --color-yellow-65: #fcdb4c;
  --color-yellow-60: #fbd633;
  --color-yellow-55: #fbd11a;
  --color-yellow-50: #facc00;
  --color-yellow-45: #e8bd00;
  --color-yellow-40: #d1aa00;
  --color-yellow-35: #ba9700;
  --color-yellow-30: #a28400;
  --color-yellow-25: #8b7100;
  --color-yellow-20: #745f00;
  --color-yellow-15: #5d4c00;
  --color-yellow-10: #463900;
  --color-yellow-5: #2e2600;

  /* Orange scale */
  --color-orange-42: #b38000;
  --color-orange-72: #f7b100;
  --color-orange-95: #fff4e6;
  --color-orange-90: #ffe8cc;
  --color-orange-85: #ffddb3;
  --color-orange-80: #ffd199;
  --color-orange-75: #ffc680;
  --color-orange-70: #ffba66;
  --color-orange-65: #ffaf4d;
  --color-orange-60: #ffa333;
  --color-orange-55: #ff981a;
  --color-orange-50: #ff6400;
  --color-orange-45: #f04b0a;
  --color-orange-40: #d94000;
  --color-orange-35: #c23800;
  --color-orange-30: #ab3100;
  --color-orange-25: #942900;
  --color-orange-20: #7d2200;
  --color-orange-15: #661a00;
  --color-orange-10: #4f1300;
  --color-orange-5: #380b00;

  /* Neutral scale */
  --color-neutral-100: #ffffff;
  --color-neutral-99: #fcfcfc;
  --color-neutral-98: #fafafa;
  --color-neutral-97: #f5f5f5;
  --color-neutral-96: #f0f0f0;
  --color-neutral-95: #e9e9e9;
  --color-neutral-93: #e8e8e8;
  --color-neutral-92: #e0e0e0;
  --color-neutral-91: #d8d8d8;
  --color-neutral-90: #d3d3d3;
  --color-neutral-85: #bdbdbd;
  --color-neutral-80: #bbb;
  --color-neutral-75: #a1a1a1;
  --color-neutral-65: #808080;
  --color-neutral-60: #777777;
  --color-neutral-55: #4b4b4b;
  --color-neutral-50: #484848;
  --color-neutral-45: #464646;
  --color-neutral-40: #333;
  --color-neutral-35: #2a2a2a;
  --color-neutral-30: #212121;
  --color-neutral-25: #1f1f1f;
  --color-neutral-20: #141414;
  --color-neutral-0: #000000;
}

@variant dark (.dark &);

@source "../../../../libs";
